.container {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}
.headline {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  flex: 1;
  border: none;
  box-shadow: none;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
}

.user {
  flex: 1;
  padding-right: 30px;
  border-right: 1px solid #D3D3D3;
  padding-top: 40px;
}

.content {
  flex: 2;
  padding: 40px 0 0 70px;
}

.logo {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .headline {
    padding-right: 35px;
  }
  .wrapper {
    padding-left: 120px;
  }
  .content {
    padding-right: 20px;
  }
}

@media (max-width: 950px) {
  .wrapper {
    padding-left: 40px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
  .title {
    display: none;
  }
  .user {
    padding-top: 0;
  }
}
@media (max-width: 800px) {
  .content {
    border-top: 1px solid #C6C6C8;
  }
  .wrapper {
    padding-left: 0;
  }
  .user {
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: #FAFAFA;
    border-right: none;
  }
}
@media (max-width: 470px) {
  .content {
    padding: 25px 22px;
  }
}

@media (max-width: 470px) {
  .headline {
    padding-right: 12px;
  }
  .content {
    padding: 22px 11px;
  }
}