.headline {
  display: flex;
  justify-content: space-between;
}
.stories {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  &-item {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
}